flask==3.0.2
flask-cors==4.0.2
celery==5.3.6
redis==5.0.1
gunicorn==22.0.0
markitdown==0.0.1a3
openai==1.58.1
Pillow==10.2.0
pytesseract==0.3.10
SpeechRecognition==3.10.1
python-dotenv==1.0.1
Werkzeug==3.0.6
pdfplumber==0.10.3
pdf2image==1.17.0
httpx
